#S3row1 
{
  position: relative;
  width:100%;
  height:55.4%;
}
#S3row2 
{
  position: relative;
  width:100%;
  height:44.6%;
}

.S3r1item1{
  width:431px;
  float:left;
}

.S3r1item2{
  width:431px;
  float:left;
}

.S3r1item3{
  width:431px;
  float:left;
}

.S3r1item4{
  width:431px;
  float:left;
}

.S3r1item5{
  width:431px;
  float:left;
}

.S3r1item6{
  width:431px;
  float:left;
}

.S3r1item7{
  width:431px;
  float:left;
}

.S3r1item8{
  width:431px;
  float:left;
}

.S3r1item9{
  width:431px;
  float:left;
}

.S3r2item1{
  width:431px;
  float:left;
}

.S3r2item2{
  width:431px;
  float:left;
}

.S3r2item3{
  width:431px;
  float:left;
}

.S3r2item4{
  width:431px;
  float:left;
}

.S3r2item5{
  width:431px;
  float:left;
}

.S3r2item6{
  width:431px;
  float:left;
}

.S3r2item7{
  width:431px;
  float:left;
}

.S3r2item8{
  width:431px;
  float:left;
}

.S3r2item9{
  width:431px;
  float:left;
}
